body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #ffc859;
  margin: 0;
  padding: 0;
}

nav a,
nav a:visited,
nav a:focus {
  color: #333;
  padding: 20px;
  display: block;
}

.content {
  margin-top: 20px;
}

.random {
  text-align: center;
}

.random img {
  margin-top: 20px;
  max-width: 400px;
  height: auto;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(253, 199, 99, 0.2);
  border-right: 1.1em solid rgba(253, 199, 99, 0.2);
  border-bottom: 1.1em solid rgba(253, 199, 99, 0.2);
  border-left: 1.1em solid #fdc763;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Gallery styles */

.image-container {
  width: 300px; 
  height: auto;
  display: block;
  margin: 20px auto;
  box-shadow: 5px 5px 3px gray;
}

.image {
  width: 100%; 
  height: auto;
  box-sizing: border-box;
}

.load-more-button {
  display: block;
  margin: 30px auto;
  background-color: #fdc763;
  border: 2px solid transparent;
  padding: 15px 10px;
  box-shadow: 3px 3px 3px gray;
}

.load-more-button:hover {
  background-color: #ffaf1c;
}

.load-more-button:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 1px gray;
}

.load-more-button:Focus {
  outline: none;
  border: 2px solid #ffaf1c;
}

@media screen and (min-width: 600px) {
  .gallery {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery:after {
    content: "";
    flex: auto;
  }

  .image-container {
    width: auto; 
    height: 200px;
    display: inline-block;
    margin: 10px 5px ;
  }

  .image {
    width: auto; 
    height: 100%;
  }
}